/* Alles voor index.html begint met een I alles voor app.html begint met een A, alles voor de instellingen begint met een S. (alles wat vaker word gebruikt ZONDER de eerste letter maar vermeid een ven deze letters in het begin
hou rekening met de hoogte van de navbar met het maken van de hoogte van de verschillende grid systemen*/ 

/*de verschillende Nav syles*/
.nav{
    justify-content: space-evenly;
    border-bottom: 1px solid black;
    height: 6vh;
}
.navinlineblock{
    display: inline-block;
}
/* TEST NAV COLLOR*/
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li{ 
    float: left;
}

li a{
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

/* de grid voor de index pagina*/
li a:hover{
    background-color: #111;
}
.Iwraper{
    width: 100vw;;
    display: grid;
    
}
.Iwraper2{

    display: grid;
}
.I1{
    grid-column: 1;
    grid-row: 1;
    width: 49vw;
}
.I2{
    grid-column: 2;
    grid-row: 1;
    width: 49vw;
    }
.I3{
    grid-column: 1;
    grid-row: 1;
}
.I4{
    grid-column: 1;
    grid-row: 2
}
.I5{
    grid-column:1;
    grid-row: 1;
    
}
.I6{
    grid-column: 1;
    grid-row: 2;

}
.I
/* de grid voor de app pagina*/
.AAwraper{
    width: 100vw;
    height: 90vh;
}
.Awraper{
    display: grid;
}
.A1{
    grid-column: 1;
    grid-row: 1;
}
.A2{
    grid-column: 1;
    grid-row: 2;
} 
.a11{
    grid-column : 1;

}
.A12{
    grid-column: 2;
    grid-row: 1;
}
.A121{
    grid-column: 1;
    grid-row: 1;
}
.A122{
    grid-column: 1;
    grid-row: 2;
}
/*de dark mode kleur*/
.dark-mode{
    background-color: #3e3e3e;
    color: white;
}