/* Alles voor index.html begint met een I alles voor app.html begint met een A, alles voor de instellingen begint met een S. (alles wat vaker word gebruikt ZONDER de eerste letter maar vermeid een ven deze letters in het begin
hou rekening met de hoogte van de navbar met het maken van de hoogte van de verschillende grid systemen*/
/*de dark mode kleur overall*/
.dark-mode{

    background-color: #152028;
    color: white;
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #16244d !important;
    }

    li{
        float: left;
    }

    li a{
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
}
/*de verschillende Nav syles*/
.nav{
    justify-content: space-evenly;
    border-bottom: 1px solid black;
    height: 6vh;
}
.navinlineblock{
    display: inline-block;
    
}
/* Icoon Nav midden */
.Ni{
    padding-top: 0.75%;
}
/* Nav style */
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1680b5;
}

li{ 
    float: left;
}

li a{
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

/* de background collor voor de index pagina*/
li a:hover{
    background-color: #4d8aca;
}

/* Grid voor Index pagina */

.Iwraper{
    width: 100vw;;
    display: grid;

    
}

.I1{
    grid-column: 1;
    grid-row: 1;
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;

}
.I2{
    grid-column: 2;
    grid-row: 1;
    width: 49vw;
    }
.I3{
    grid-column: 1;
    grid-row: 1;
    height: fit-content;
}
.I4{
    grid-column: 1;
    grid-row: 2;
    height: fit-content;
    width: 50%;
}
.I5{
    grid-column:1;
    grid-row: 1;
    
}
.I6{
    grid-column: 1;
    grid-row: 2;

}
.I

/* de grid voor de app pagina*/
.Aa{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;



}
.Alines{
    border: black solid 1px;
    max-width: 20%;
    align-items: center;

}
.Aa {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 5%;
}

.Aa > div {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #4f86d8;
    border-radius: 5px;
    background-color: #35b0ee3d;
}


/* I Aanpassen zontijd */
.zt {
    Float: right; 
}



/* Viewport voor devices */
* {
    box-sizing: border-box;
}
/* I weerkaart */
.weerkaart 
{
    width: 25%;
    height: auto;
    float: right;
    padding-right: 1.5%;
}
/*test*/
